.humidity {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity-value {
    font-size: 12vh;
    color: #fff;
}

.humidity-image {
    margin-top: 2vh;
    height: 10vh;
}